* {
  vertical-align: top;
}

body {
  margin: 0;
  background-image: url("");
}

header {
  width: 100%;
  height: 200px;
  background: darkblue
  url("http://cmster.com/media/JR9Ag8YssMi3urxOmSJ1iPgX4eJM5pv2T6wHTDnY8tVF2IjDN9nBXA93ulFBxLxD.jpg") no-repeat;
  background-position: center;
  text-align: center;


}

article {
  width: 530px;
  height: 900px;
  float: left;
  margin: 0;
}

.sidebar {
  width: 321px;
  height: 900px;
  background-color: yellow;
  float: left;
}

h1 {
  color: orange;
  margin: 0;
  padding: 25px 0 0 0;
  font-size: 3rem;

}

small {
  color: orange;
}

img {
 border-radius: 50%;
 border: 2px dotted orange;
 width: 50px;

}

.logo {
  height: 100%;
  float: left;
  color: orange;
  padding: 10px 0 0 0;
  width: 300px;
}

.top-left {
  margin: 0 auto;
  width: 960px;

}

p {
  display: inline-block;
  margin: 10px 0 0;
}

nav {
  width: 300px;
  float: right;
  text-align: right;

}

header nav li {
  display: inline-block;
}

header nav li a {
  color: orange;
  text-decoration: none;
  transition: color 1s;
}

nav li {
  margin: 0 0 0 10px;
}

nav li a:hover {
  border-bottom: 1px solid blue;
	color: blue;
	transition: color 1s;

}

h2 {
  color: #000;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.left-holder {
  width: 700px;
  float: left;
}

.author {
  border: 2px solid orange;
  border-radius: 50%;
  width: 50px;
  text-align: center;
  float: left;

}

h3 {
  font-size: 10px;
  margin: 12px 0 0 10px;
  text-align: center;
  float: left;
}

.von {
  text-decoration: none;
  margin: 12px 0 0 5px;
  text-align: center;
  float: left;
  font-size: 10px;
}

.author-info {
  margin: 0 auto;
  width: 300px;
  padding: 0 100px 0 0;
}

.two-columns {
  width: 851px;
  margin: 20px auto;
}

.peyton-p {
  width: 530px;
  float: left;
  margin: 30px 0 0 0;
  line-height: 1.5;
}

.peyton-p2 {
  width: 530px;
  float: left;
  margin: 20px 0 0 0;
  line-height: 1.5;
}

footer {
  margin: 0 auto;
  width: 851px;
  background-color: red;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
